        <div class="description description-top">
            <p>
                Тейсти, известный также как «Mmm... Tasty!», был домом для тысяч <span class="popup-toggle" data-popup="what-is-tlog">тлогов</span>.
            </p>
            <p>
                Сайт закрылся много лет назад, оставив нас без любимого места, где можно было бы делиться мыслями. Многие даже не смогли получить архивы своих постов.
            </p>
            <p>
                Мы приобрели этот домен, чтобы почтить память всех тлогов, что безвозвратно исчезли вместе с любимым сайтом. <span class="popup-toggle" data-popup="share-memory">Вы тоже можете поделиться своими воспоминаниями</span>.
            </p>
        </div>