        <div class="popup" data-popup="share-memory">
            <span class="close">&times;</span>
            <h3>Поделитесь своими воспоминаниями о Тейсти</h3>
            <p>Заполните <a href="https://docs.google.com/forms/d/e/1FAIpQLSdHvHkc0xqnCC1HTdH5WKnhmTqsUt5AaZkf8zI0ulEKFZDbIA/viewform" target="blank">форму</a> (потребуется аккаунт Google) или отправьте письмо на почту <a href="mailto:memories@taaasty.com">memories@taaasty.com</a></p>
            <p>В письме кратко расскажите о своих воспоминаниях, мыслях, чувствах, эмоциях и теплых моментах, связанных с Тейсти. Обязательно укажите свой никнейм. Аватарка необязательна, но с ней будет чуть красивее, она будет обрезана до круга.</p>
            <p>Данные будут размещены на неограниченный срок и доступны всему интернету, но их можно будет удалить или отредактировать, написав соответствующее письмо с того же почтового адреса. Мы не гарантируем, что данные будут размещены здесь и никогда не будут удалены, но постараемся.</p>
        </div>